# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Archivos de usuario
media/
media_shared/

# Entorno virtual
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Variables de entorno
.env

#agenda/settings.py