{% extends 'base.html' %}

{% block content %}
<style>
  thead, th {
        background-color: transparent !important;
    }

 .btn-orange, 
 .btn-orange:hover, 
 .btn-orange:focus, 
 .btn-orange:active {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #fff !important;
}

 .link-sin-color {
      color: inherit !important;
      text-decoration: none !important;
  }


table.dataTable {
    border-top: 2px solid #dee2e6;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}


</style>
<div class="main-container " style="border-style: solid;border-width: 0px 1px 1px 1px; border-color: blue;">
     <div class="row  ms-3 me-3">
          <section class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
               <h3 style="margin: 10px;"><i class="fa fa-user icon-title"></i> Agregar  Mantención</h3>
               <ol class="breadcrumb" style="margin: 0; padding: 0; display: flex; align-items: center;">
                 <br>
                 <li style="margin-right: 5px;"><a href="{% url 'dashboard' %}" class=" me-2 link-sin-color"><i class="fa fa-home"></i> Inicio ></a></li>
                 <li style="margin-right: 5px;"><a href="{% url 'listado_mantencion' %}" class="link-sin-color">Listado Mantención</a></li>
               </ol>
          </section>
          
          <hr style="border: 2px solid #3c8dbc;">
          <div class="col-8">
            <form action="" method="post" enctype="multipart/form-data" class="form-control border-0">
              {% csrf_token %}
              <!-- Nombre Cliente -->
             
             
            
               <!-- Vehículo -->
            <div class="row mb-3">
              <div class="col-md-4 text-end">
                <label for="vehiculo_id" class="form-label">Vehículo</label>
              </div>
              <div class="col-md-8">
               <select name="vehiculo" id="vehiculo" class="form-select" required>
                    <option value="">Seleccione un vehículo</option>
                    {% for v in vehiculos %}
                        <option value="{{ v.id }}">
                            {{ v.patente }} - {{ v.marca }} {{ v.modelo }}
                        </option>
                    {% endfor %}
                </select>
              </div>
            </div>



            <!-- Fecha Revisión Técnica -->
            <div class="row mb-3">

                <div class="col-md-4 text-end">
                    <label class="form-label">
                        Fecha Revisión Técnica
                    </label>
                </div>

                <div class="col-md-8">

                    <input
                        type="date"
                        name="fecha_revision_tecnica"
                        class="form-control"
                        value="{{ mantencion.fecha_revision_tecnica|date:'Y-m-d' }}"
                        required
                    >
                </div>
            </div>


            <!-- Archivo Revisión Técnica -->
            <div class="row mb-3">

                <div class="col-md-4 text-end">
                    <label class="form-label">
                        Archivo Revisión Técnica
                    </label>
                </div>

                <div class="col-md-8">

                    <div class="input-group">

                        <input
                            type="file"
                            name="archivo_revision_tecnica"
                            class="form-control"
                            accept=".pdf"
                        >

                        {% if mantencion.archivo_revision_tecnica %}
                            <button
                                type="button"
                                class="btn btn-light border"
                                data-bs-toggle="modal"
                                data-bs-target="#documentoModal"
                                data-url="{{ mantencion.archivo_revision_tecnica.url }}"
                                onclick="mostrarDocumento(this)"
                                title="Ver Revisión Técnica">

                                <i class="bi bi-file-earmark-fill fs-5 text-primary"></i>

                            </button>
                        {% endif %}

                    </div>

                </div>

            </div>


      
            
           <!-- Fecha Gases -->
            <div class="row mb-3">
                <div class="col-md-4 text-end">
                    <label class="form-label">Fecha Gases</label>
                </div>

                <div class="col-md-8">
                    <input
                        type="date"
                        name="fecha_gases"
                        class="form-control"
                        required
                    >
                </div>
            </div>


            <!-- Archivo Gases -->
            <div class="row mb-3">
                <div class="col-md-4 text-end">
                    <label class="form-label">Archivo Gases</label>
                </div>

                <div class="col-md-8">
                    <input
                        type="file"
                        name="archivo_gases"
                        class="form-control"
                        accept=".pdf"
                    >
                </div>
            </div>


            <!-- KM -->
            <div class="row mb-3">
                <div class="col-md-4 text-end">
                    <label class="form-label">Kilometraje</label>
                </div>

                <div class="col-md-8">
                    <input
                        type="number"
                        name="kilometraje"
                        class="form-control"
                        min="0"
                        required
                    >
                </div>
            </div>





          <!-- Kilometraje Cambio de Aceite -->
            <div class="row mb-3">
                <div class="col-md-4 text-end">
                    <label class="form-label">Kilometraje Cambio de Aceite</label>
                </div>

                <div class="col-md-8">
                    <input
                        type="number"
                        name="kilometraje_cambio_aceite"
                        class="form-control"
                        min="0"
                        required
                    >
                </div>
            </div>

          

            <!-- Observación -->
            <div class="row mb-3">
                <div class="col-md-4 text-end">
                    <label class="form-label">Observación</label>
                </div>

                <div class="col-md-8">
                    <textarea name="observacion"
                              class="form-control"
                              rows="3"></textarea>
                </div>
            </div>



           <!-- Botón -->
              <div class="row mb-3">
                <div class="col-md-4 text-end"></div> <!-- Columna vacía para alineación -->
                <div class="col-md-4 d-flex justify-content-center gap-2">
                  <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                  <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='{% url 'listado_mantencion' %}'">
                    Cancelar
                </button>
                </div>
              </div>

              <hr>
              <br>
            </form>
          </div>
     </div>
</div>

{% endblock %}

{% block scripts %}



<script>

  document.addEventListener("DOMContentLoaded", function () {

    const empleado = document.getElementById("empleado_id");
    const rut = document.getElementById("rut");

    empleado.addEventListener("change", function () {

        const opcion = this.options[this.selectedIndex];

        rut.value = opcion.dataset.rut || "";

    });

  
});

  
</script>

{% endblock %}

  


