{% extends 'base.html' %}

{% block content %}
<style>
  thead th {
    background-color: transparent !important;
}

 .btn-orange, 
 .btn-orange:hover, 
 .btn-orange:focus, 
 .btn-orange:active {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #fff !important;
}

 .link-sin-color {
      color: inherit !important;
      text-decoration: none !important;
  }


table.dataTable {
    border-top: 2px solid #dee2e6;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}

#dataTablesListados th,
#dataTablesListados td {
    border: 1px solid #dee2e6 !important;
}

</style>

<div class="main-container " style="border-style: solid;border-width: 0px 1px 1px 1px; border-color: blue;">
     <div class="row  ms-3 me-3">
          <section class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
               <h3 style="margin: 10px;"><i class="fa fa-user icon-title"></i> Listado Bencina</h3>
                <ol class="breadcrumb" style="margin: 0; padding: 0; display: flex; align-items: center;">
                 <br>
                 <li style="margin-right: 5px;"><a href="{% url 'dashboard' %}" class=" me-2 link-sin-color"><i class="fa fa-home"></i> Inicio ></a></li>
               </ol>
          </section>
          <hr style="border: 2px solid #3c8dbc;">
            <div class="table-responsive">
                {% if messages %}
                <div class="alert alert-success custom-alert d-flex justify-content-between align-items-center" id="success-message" role="alert">
                    {% for message in messages %}
                        <p class="mb-0">{{ message }}</p> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                </div>
                {% endif %}
               <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-success" onclick="location.reload()">
                        <i class="bi bi-arrow-clockwise"></i> Actualizar
                    </button>
                </div>
              
                 <table class="table table-bordered table-hover align-middle small-text-table table_general">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Vehículo</th>
                            <th>Monto</th>
                            <th>Kilometraje</th>
                            <th>Fecha</th>
                            <th>Recibo</th>
                            <th>Eliminar</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for b in bencinas %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td>{{ b.nombre }}</td>
                            <td>{{ b.rut }}</td>
                            <td>{{ b.vehiculo }}</td>
                            <td>${{ b.monto }}</td>
                            <td>{{ b.kilometraje }} km</td>
                            <td>{{ b.fecha_creacion|date:"d/m/Y H:i" }}</td>
                            <td class="text-center">
                                {% if b.recibo %}
                                <button
                                    class="btn btn-sm btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#imagenModal"
                                    data-url="/media/{{ b.recibo }}"
                                    onclick="mostrarImagen(this)">
                                    Ver recibo
                                </button>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'eliminar_bencina' b.id %}"
                                class="btn btn-sm btn-danger"
                                onclick="return confirm('¿Seguro que deseas eliminar este registro?');">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">
                                No existen registros.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>          
    </div>
</div>





<div class="modal fade" id="imagenModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Recibo</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body text-center">
                <img id="imagenRecibo"
                     src=""
                     class="img-fluid rounded">
            </div>

        </div>
    </div>
</div>

{% endblock %}





{% block scripts %}

 <script>

//PARA MENSAJES DE EDITAR Y AGREGAR  MENSAJE ELIMINAR
$(document).ready(function() {
         {% if mensaje %}
            gMensaje('{{ mensaje }}', '{{ tipo_mensaje }}');
        {% endif %}
     });





$(document).on("click", ".btn-eliminar", function() {
    let cod_cliente = $(this).data("id");
    let cliente = $(this).data('cliente');
    let url = $(this).data("url");
    mensajeConfirmar("¿Seguro que deseas eliminar el cliente " + cliente, function() {
        url=url+
        document.location.replace(url)
        $.ajax({
            url: url,
            type: "POST",
            data: {
                cod_cliente: cod_cliente,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
            //console.log(response)
                if(response.success) {
                    gMensaje(response.message,'info');
                    //$("#row_" + userId).remove(); // borrar fila en vez de recargar
                    $("#row_" + cod_cliente).fadeOut(800).slideUp(800, function() {
                        $(this).remove();
                    });
                } else {
                    gMensaje(response.message,'error');
                }
            },
            error: function(response){
            console.log(response)
            }
        });
    });
});


// 🔥 AQUÍ VA LO NUEVO
function mostrarImagen(btn) {
    let url = btn.getAttribute('data-url');

    console.log(url);

    document.getElementById('imagenRecibo').src = url;
}



function cargarBencinas() {
    fetch(window.location.href)
        .then(response => response.text())
        .then(html => {
            let parser = new DOMParser();
            let doc = parser.parseFromString(html, 'text/html');

            let nuevaTabla = doc.querySelector('tbody');
            document.querySelector('tbody').innerHTML = nuevaTabla.innerHTML;
        });
}




</script>

{% endblock %}




