{% extends 'base.html' %}

{% block content %}
<style>
  thead, th {
        background-color: transparent !important;
    }

 .btn-orange, 
 .btn-orange:hover, 
 .btn-orange:focus, 
 .btn-orange:active {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #fff !important;
}

 .link-sin-color {
      color: inherit !important;
      text-decoration: none !important;
  }


table.dataTable {
    border-top: 2px solid #dee2e6;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}


</style>
<div class="main-container " style="border-style: solid;border-width: 0px 1px 1px 1px; border-color: blue;">
     <div class="row  ms-3 me-3">
          <section class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
               <h3 style="margin: 10px;"><i class="fa fa-user icon-title"></i> Editar Tarjeta</h3>
               <ol class="breadcrumb" style="margin: 0; padding: 0; display: flex; align-items: center;">
                 <br>
                 <li style="margin-right: 5px;"><a href="{% url 'dashboard' %}" class=" me-2 link-sin-color"><i class="fa fa-home"></i> Inicio ></a></li>
                 <li style="margin-right: 5px;"><a href="{% url 'bencina_listado' %}" class="link-sin-color">Listado Bencina</a></li>
               </ol>
          </section>
          
          <hr style="border: 2px solid #3c8dbc;">
          <div class="col-8">
             <form action="" method="post" class="form-control border-0">
              {% csrf_token %}

              
              <!-- CHOFER -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Nombre Chofer</label>
                </div>

                <div class="col-md-8">
                  <select name="empleado_id" id="empleado_id" class="form-select" required>
                    <option value="">Seleccione un chofer</option>

                    {% for e in empleados %}
                        <option value="{{ e.id }}"
                                data-rut="{{ e.rut }}"
                                {% if registro.empleado_id == e.id %}selected{% endif %}>
                            {{ e.nombre }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <!-- RUT -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Rut</label>
                </div>

                <div class="col-md-8">
                  <input type="text"
                         name="rut"
                         id="rut"
                         class="form-control"
                         value="{{ registro.empleado.rut }}"
                         readonly>
                </div>
              </div>



              <!-- Vehículo -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label for="vehiculo_id" class="form-label">Vehículo</label>
                </div>
                <div class="col-md-8">
                  <select name="vehiculo_id" id="vehiculo_id" class="form-select" required>
                    <option value="">Seleccione un vehículo</option>

                    {% for v in vehiculos %}
                      <option value="{{ v.id }}"
                        {% if registro.vehiculo.id == v.id %}selected{% endif %}>
                        {{ v.patente }} - {{ v.marca }} {{ v.modelo }}
                      </option>
                    {% endfor %}

                  </select>
                </div>
              </div>

              <!-- CHECK-IN -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Check-In</label>
                </div>

                <div class="col-md-8">
                  <input type="time"
                         name="hora_entrega"
                         id="hora_entrega"
                         class="form-control"
                         value="{{ registro.hora_checkin|time:'H:i' }}">
                </div>
              </div>

              <!-- CHECK-OUT -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Check-Out</label>
                </div>

                <div class="col-md-8">
                  <input type="time"
                         name="hora_recepcion"
                         id="hora_recepcion"
                         class="form-control"
                         value="{{ registro.hora_checkout|time:'H:i' }}">
                </div>
              </div>

              <!-- BOTONES -->
              <div class="row mb-3">
                <div class="col-md-4 text-end"></div>

                <div class="col-md-4 d-flex justify-content-center gap-2">
                  <button type="submit" class="btn btn-primary btn-sm">
                    Actualizar
                  </button>

                  <button type="button"
                          class="btn btn-secondary btn-sm"
                          onclick="window.location.href='{% url 'tarjeta_listado' %}'">
                    Cancelar
                  </button>
                </div>
              </div>

              <hr>
            </form>
          </div>
     </div>
</div>

{% endblock %}

{% block scripts %}



<script>

  document.addEventListener("DOMContentLoaded", function () {

    const empleado = document.getElementById("empleado_id");
    const rut = document.getElementById("rut");

    empleado.addEventListener("change", function () {

        const opcion = this.options[this.selectedIndex];

        rut.value = opcion.dataset.rut || "";

    });

  
});

  
</script>

{% endblock %}

  


