{% extends 'base.html' %}

{% block content %}
<style>
  thead th {
    background-color: transparent !important;
}

 .btn-orange, 
 .btn-orange:hover, 
 .btn-orange:focus, 
 .btn-orange:active {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #fff !important;
}

 .link-sin-color {
      color: inherit !important;
      text-decoration: none !important;
  }


table.dataTable {
    border-top: 2px solid #dee2e6;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}

#dataTablesListados th,
#dataTablesListados td {
    border: 1px solid #dee2e6 !important;
}

</style>

<div class="main-container " style="border-style: solid;border-width: 0px 1px 1px 1px; border-color: blue;">
     <div class="row  ms-3 me-3">
          <section class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
               <h3 style="margin: 10px;"><i class="fa fa-user icon-title"></i> Listado Tarjetas</h3>
                <ol class="breadcrumb" style="margin: 0; padding: 0; display: flex; align-items: center;">
                 <br>
                 <li style="margin-right: 5px;"><a href="{% url 'dashboard' %}" class=" me-2 link-sin-color"><i class="fa fa-home"></i> Inicio ></a></li>
                <li style="margin-right: 5px;"><a href="{% url 'entrega_tarjeta' %}" class=" me-2 link-sin-color"></i> Ingresa Tarjeta ></a></li>
               </ol>
          </section>
          <hr style="border: 2px solid #3c8dbc;">
          
          
          <div class="d-flex justify-content-end mb-3">
                <form method="GET" class="d-flex align-items-center gap-2">
                    <input
                        type="text"
                        name="buscar"
                        class="form-control"
                        placeholder="Buscar por nombre, RUT o patente..."
                        value="{{ buscar }}"
                        style="width: 320px;">

                    <button type="submit" class="btn btn-primary">
                       <i class="bi bi-search"></i>
                    </button>

                    {% if buscar %}
                    <a href="{% url 'tarjeta_listado' %}"
                    class="btn btn-outline-secondary">
                        ✕
                    </a>
                    {% endif %}
                </form>
            </div>
            <div class="table-responsive">
                {% if messages %}
                <div class="alert alert-success custom-alert d-flex justify-content-between align-items-center" id="success-message" role="alert">
                    {% for message in messages %}
                        <p class="mb-0">{{ message }}</p> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                </div>
                {% endif %}
               
                 <table class="table table-bordered table-hover align-middle small-text-table table_general">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Vehículo</th>
                            <th>Fecha Desde</th>
                             <th>Check In</th>
                            <th>Fecha Hasta</th>
                            <th>Check Out</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                     <tbody>
                        {% for t in tarjetas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ t.empleado.nombre }}</td>
                                <td>{{ t.empleado.rut }}</td>
                                <td class="text-center">{{ t.vehiculo.patente }}</td>
                                <td class="text-center">
                                        {% if t.fecha_editable %}
                                            {{ t.fecha_editable|date:"d/m/Y" }}
                                        {% else %}
                                            {{ t.fecha|date:"d/m/Y" }}
                                        {% endif %}
                                    </td>

                                 <td class="text-center">{{ t.hora_checkin }}</td>
                                 <td class="text-center">
                                    {% if t.fecha_hasta %}
                                        {{ t.fecha_hasta|date:"d/m/Y" }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                 <td class="text-center">{{ t.hora_checkout }}</td>
                              

                               
                               
                                <td class="text-center">
                                    <a href="{% url 'editar_tarjeta' t.id %}"
                                    class="btn btn-warning btn-sm">
                                          <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>

                                  <td class="text-center">
                                
                                <a href="{% url 'eliminar_tarjeta' t.id %}"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Seguro que deseas eliminar la tarjeta del chofer {{ t.empleado.nombre }} (RUT: {{ t.empleado.rut }})?')">
                                       <i class="bi bi-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    No hay registros.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                 <div class="table-responsive">
                    <!-- AQUÍ VA LA PAGINACIÓN -->
                    <nav aria-label="Paginación">
                        <ul class="pagination justify-content-center">

                            {% if tarjetas.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tarjetas.previous_page_number }}">
                                        Anterior
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in tarjetas.paginator.page_range %}
                                {% if tarjetas.number == num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if tarjetas.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tarjetas.next_page_number }}">
                                        Siguiente
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>

                </div>


            </div>
        </div>          
    </div>
</div>







{% endblock %}





{% block scripts %}

 <script>

//PARA MENSAJES DE EDITAR Y AGREGAR  MENSAJE ELIMINAR
$(document).ready(function() {
         {% if mensaje %}
            gMensaje('{{ mensaje }}', '{{ tipo_mensaje }}');
        {% endif %}
     });





$(document).on("click", ".btn-eliminar", function() {
    let cod_cliente = $(this).data("id");
    let cliente = $(this).data('cliente');
    let url = $(this).data("url");
    mensajeConfirmar("¿Seguro que deseas eliminar el cliente " + cliente, function() {
        url=url+
        document.location.replace(url)
        $.ajax({
            url: url,
            type: "POST",
            data: {
                cod_cliente: cod_cliente,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
            //console.log(response)
                if(response.success) {
                    gMensaje(response.message,'info');
                    //$("#row_" + userId).remove(); // borrar fila en vez de recargar
                    $("#row_" + cod_cliente).fadeOut(800).slideUp(800, function() {
                        $(this).remove();
                    });
                } else {
                    gMensaje(response.message,'error');
                }
            },
            error: function(response){
            console.log(response)
            }
        });
    });
});


// 🔥 AQUÍ VA LO NUEVO
function mostrarImagen(btn) {
    let url = btn.getAttribute('data-url');

    console.log(url);

    document.getElementById('imagenRecibo').src = url;
}



function cargarBencinas() {
    fetch(window.location.href)
        .then(response => response.text())
        .then(html => {
            let parser = new DOMParser();
            let doc = parser.parseFromString(html, 'text/html');

            let nuevaTabla = doc.querySelector('tbody');
            document.querySelector('tbody').innerHTML = nuevaTabla.innerHTML;
        });
}




</script>

{% endblock %}




