{% extends 'base.html' %}

{% block content %}
<style>
  thead, th {
        background-color: transparent !important;
    }

 .btn-orange, 
 .btn-orange:hover, 
 .btn-orange:focus, 
 .btn-orange:active {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #fff !important;
}

 .link-sin-color {
      color: inherit !important;
      text-decoration: none !important;
  }


table.dataTable {
    border-top: 2px solid #dee2e6;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}


</style>
<div class="main-container " style="border-style: solid;border-width: 0px 1px 1px 1px; border-color: blue;">
     <div class="row  ms-3 me-3">
          <section class="content-header" style="display: flex; justify-content: space-between; align-items: center;">
               <h3 style="margin: 10px;"><i class="fa fa-user icon-title"></i> Agregar  Vehículo</h3>
               <ol class="breadcrumb" style="margin: 0; padding: 0; display: flex; align-items: center;">
                 <br>
                 <li style="margin-right: 5px;"><a href="{% url 'dashboard' %}" class=" me-2 link-sin-color"><i class="fa fa-home"></i> Inicio ></a></li>
                 <li style="margin-right: 5px;"><a href="{% url 'vehiculo_listado' %}" class="link-sin-color">Listado Vehículos</a></li>
               </ol>
          </section>
          
          <hr style="border: 2px solid #3c8dbc;">

         <div class="col-8">
            <form method="post" class="form-control border-0">
              {% csrf_token %}
              <br>
              <!-- PATENTE -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Patente</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="patente" class="form-control">
                </div>
              </div>

              <!-- MARCA -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Marca</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="marca" class="form-control">
                </div>
              </div>

              <!-- MODELO-->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Modelo</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="modelo" class="form-control">
                </div>
              </div>

           
               <!-- CARGA -->
              <div class="row mb-3">
                <div class="col-md-4 text-end">
                  <label class="form-label">Carga</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="carga" class="form-control">
                </div>
              </div>


              <!-- Botones -->
              <div class="row mb-3">
                <div class="col-md-4 text-end"></div>
                <div class="col-md-8 d-flex justify-content-start gap-2">
                  <button type="submit" class="btn btn-primary btn-sm">Guardar</button>

                  <button type="button"
                          class="btn btn-secondary btn-sm"
                          onclick="window.location.href='{% url 'empleado_listado' %}'">
                    Cancelar
                  </button>
                </div>
              </div>

              <hr>
            </form>
          </div>
     </div>
</div>

{% endblock %}

{% block scripts %}



<script>
  

</script>
{% endblock %}

  


