{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="./index.html" class="brand-link">
            <!--begin::Brand Image {% static 'assets/img/logo_wl.png' %}-->
            <img style="max-height: 80px; margin-bottom:15px; margin-top:25px;"
                src="{% static 'assets/img/logo3.png' %}"
              alt=""
              class="opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            {% comment %} <span class="brand-text fw-light">AdminLTE 4</span> {% endcomment %}
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="menu"
              data-accordion="false"
            >
              
              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                  <i class="nav-icon bi bi-palette"></i>
                  <p>Inicio</p>
                </a>
              </li>

              <!-- CLIENTE / BENCINA -->
              <li class="nav-item {% if 'bencina' in request.path %}menu-open{% endif %}">
                <a href="#" class="nav-link {% if 'cliente' in request.path %}active{% endif %}">
                  <i class="nav-icon bi bi-fuel-pump"></i>
                  <p>
                    Bencina
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>

                <ul class="nav nav-treeview">
                   <li class="nav-item">
                      <a href="{% url 'tarjeta_listado' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'tarjeta_listado' %}active{% endif %}">
                          <p>Listado Tarjeta</p>
                      </a>
                  </li>

                  <li class="nav-item">
                      <a href="{% url 'bencina_listado' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'bencina_listado' %}active{% endif %}">
                          <p>Listado Bencina</p>
                      </a>
                  </li>
              </ul>

              </li>




            <!-- Empleado -->
                <li class="nav-item {% if request.resolver_match.url_name == 'registro_empleado' or request.resolver_match.url_name == 'empleado_listado' or request.resolver_match.url_name == 'editar_empleado' or request.resolver_match.url_name == 'cambiar_estado_empleado' %}menu-open{% endif %}">

                    <a href="#" class="nav-link {% if request.resolver_match.url_name == 'registro_empleado' or request.resolver_match.url_name == 'empleado_listado' or request.resolver_match.url_name == 'editar_empleado' or request.resolver_match.url_name == 'cambiar_estado_empleado' %}active{% endif %}">
                        <i class="nav-icon bi bi-person"></i>
                        <p>
                            Empleado
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'empleado_listado' %}"
                              class="nav-link {% if request.resolver_match.url_name == 'empleado_listado' %}active{% endif %}">
                                <p>Listado Empleado</p>
                            </a>
                        </li>

                    </ul>

                </li>


              <!-- Documentos Empleado -->
              <li class="nav-item {% if request.resolver_match.url_name == 'crear_documento' or request.resolver_match.url_name == 'listado_documentos' or request.resolver_match.url_name == 'listado_viel' or request.resolver_match.url_name == 'listado_francisco' %}menu-open{% endif %}">

                  <a href="#"
                    class="nav-link {% if request.resolver_match.url_name == 'crear_documento' or request.resolver_match.url_name == 'listado_documentos' or request.resolver_match.url_name == 'listado_viel' or request.resolver_match.url_name == 'listado_francisco' %}active{% endif %}">
                      <i class="nav-icon bi bi-file-earmark-text"></i>
                      <p>
                          Documentos Empleados
                          <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                  </a>

                  <ul class="nav nav-treeview">

                      <li class="nav-item">
                          <a href="{% url 'listado_documentos' %}"
                            class="nav-link {% if request.resolver_match.url_name == 'listado_documentos' %}active{% endif %}">
                              <p>Bodega Aldunate</p>
                          </a>
                      </li>

                      <li class="nav-item">
                          <a href="{% url 'listado_viel' %}"
                            class="nav-link {% if request.resolver_match.url_name == 'listado_viel' %}active{% endif %}">
                              <p>Bodega Viel</p>
                          </a>
                      </li>

                      <li class="nav-item">
                          <a href="{% url 'listado_francisco' %}"
                            class="nav-link {% if request.resolver_match.url_name == 'listado_francisco' %}active{% endif %}">
                              <p>Bodega San Francisco</p>
                          </a>
                      </li>

                  </ul>

              </li>


               <!-- Vehículo -->
             <li class="nav-item 
              {% if request.resolver_match.url_name == 'registro_vehiculo' or request.resolver_match.url_name == 'vehiculo_listado' %}
              menu-open
              {% endif %}">
                <a href="#" class="nav-link {% if 'cliente' in request.path %}active{% endif %}">
                 <i class="nav-icon bi bi-truck"></i>
                  <p>
                    Vehículo
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>

                  <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'vehiculo_listado' %}"
                          class="nav-link {% if request.resolver_match.url_name == 'vehiculo_listado' %}active{% endif %}">
                          <p>Listado Vehículo</p>
                      </a>
                  </li>
                </ul>
              </li>


         
              


          <!-- Gestión Vehículos -->
            <li class="nav-item 
                {% if request.resolver_match.url_name == 'gestion_listado' or request.resolver_match.url_name == 'listado_mantencion' %}menu-open{% endif %}">

                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-truck"></i>
                    <p>
                        Gestión Vehículos
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">

                    <!-- Listado Permiso -->
                    <li class="nav-item">
                        <a href="{% url 'gestion_listado' %}"
                          class="nav-link {% if request.resolver_match.url_name == 'gestion_listado' %}active{% endif %}">
                            <p>Permiso Circulación</p>
                        </a>
                    </li>

                    <!-- Listado Mantenciones -->
                    <li class="nav-item">
                        <a href="{% url 'listado_mantencion' %}"
                          class="nav-link {% if request.resolver_match.url_name == 'listado_mantencion' %}active{% endif %}">
                            <p>Mantención Vehículos</p>
                        </a>
                    </li>

                </ul>
            </li>


            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
    </aside>